.task {
    display: flex;
    align-items: center;
    width: 52%;
    height: 4.5rem;
    background-color: var(--gray-500);
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 0.75rem;
}

.circleIcon {
    color: var(--blue);
    margin-right: 0.75rem;

    cursor: pointer;
}

.circleIcon:hover {
    color: var(--blue-dark);
}

.trashIcon {
    color: var(--gray-300);
    margin-left: auto;

    transition: color .5s;
    cursor: pointer;
}

.trashIcon:hover {
    color: var(--danger);
}

.textTask {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--gray-100);
    line-height: 140%;
    max-width: 80%;
}

@media (max-width: 760px) {
    .task {
        width: 70%;
    }
}

@media (max-width: 416px) {
    .task {
        width: 80%;
    }
}