.countersContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 52%;
    margin-top: 4rem;
    border-bottom: 1px solid var(--gray-400);
}

.counter {
    display: flex;
    margin-bottom: 1.5rem;
}

.counterText {
    color: var(--blue);
    font-size: 0.87rem;
    margin-right: 0.5rem;
}

.counterNumberContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 19px;
    border-radius: 999px;
    background-color: var(--gray-400);
}

.counterNumber {
    color: var(--gray-200);
    font-size: 0.87rem;
}

@media (max-width: 555px) {
    .countersContainer {
        flex-direction: column;
        align-items: flex-start;
    }   
}

@media (max-width: 760px) {
    .countersContainer {
        width: 70%;
    }
}

@media (max-width: 416px) {
    .task {
        width: 80%;
    }
}